{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1 class="my-5 py-5 text-center">{{ title }}</h1>

    <form method="POST">
        <input name="_method" type="hidden" value="POST">
        <div class="form-row">
            <h2 for="title">Input to create:</h2>
            <div >
                <input name="title" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>

    <br>

        {% for fruit in fruits_list %}
            <h5 class="d-flex justify-content-between">
                <div class="">{{ fruit }}</div>
                <form method="POST">
                    <input name="_method" type="hidden" value="DELETE">
                    <input name="fruit" type="hidden" value="{{ fruit }}">
                    <button type="submit" class="btn btn-dark">Remove</button>
                </form>
            </h5>
        {% endfor %}

{% endblock %}